.signupform {
  margin: auto;
  width: 25%;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
}

.buttons>button {
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

button {
  outline: none;
}
