<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Post
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="signupform">
      <h2>Add Post</h2>
      <form [formGroup]="postForm">
        <div>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Enter the title of the post">
            <mat-error *ngIf="f.title.hasError('required')">
              title is <strong>required</strong></mat-error>
            <mat-error *ngIf="f.title.hasError('minlength')">
              title is to be <strong> min of length 7</strong></mat-error>
            <mat-error *ngIf="f.title.hasError('maxlength')">
              title is to be <strong> max of length 60</strong></mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Short Description</mat-label>
            <input matInput type="text" formControlName="shortDescription"
              placeholder="Enter the short description for your post">
            <mat-error *ngIf="f.shortDescription.hasError('required')">
              shortDescription is <strong>required</strong></mat-error>
            <mat-error *ngIf="f.shortDescription.hasError('minlength')">
              description is to be <strong> min of length 10</strong></mat-error>
            <mat-error *ngIf="f.shortDescription.hasError('maxlength')">
              description is to be <strong> max of length 500</strong></mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Story</mat-label>
            <textarea matInput matAutosizeMinRows="5" formControlName="story" placeholder="Enter story"></textarea>
            <mat-error *ngIf="f.story.hasError('required')">
              story is <strong>required</strong></mat-error>
            <mat-error *ngIf="f.story.hasError('minlength')">
              story is to be <strong> min of length 30</strong></mat-error>
            <mat-error *ngIf="f.story.hasError('maxlength')">
              story is to be <strong> max of length 10000</strong></mat-error>
          </mat-form-field>
        </div>
        <!-- <div>
            <input formControlName="file" #csvInput hidden="true" (change)="csvInputChange($event)" type="file" onclick="this.value=null"
              accept=".jpg" />
            <button mat-flat-button color="primary" (click)="csvInput.click()">Choose Image(jpg)</button>
        </div> -->
        <div>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Add tags</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                (removed)="removeTag(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="tag" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button (click)="add(postForm.value)" color="warn" type="submit">Add Post</button>
        </div>
      </form>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
